In [1]:
import pandas as pd

In [2]:
T20_Matches = pd.read_csv('Pakistan_T20_Matches_Information.csv')
matches_info = pd.read_csv('match_info.csv')
players_name = pd.read_csv('Player_name.csv')

**Incpecting CSVS**

In [3]:
T20_Matches.head(5)

,Team,Over,Batter,Bowler,Non_Striker,Runs_Batter,Runs_Extras,Runs_Total,Wickets,fielder_name,kind,player_out,match_type_number
0,Pakistan,0,Babar Azam,MA Starc,Fakhar Zaman,0,0,0,0,NaN,NaN,NaN,1002
1,Pakistan,0,Babar Azam,MA Starc,Fakhar Zaman,1,0,1,0,NaN,NaN,NaN,1002
2,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,0,0,0,0,NaN,NaN,NaN,1002
3,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,0,0,0,0,NaN,NaN,NaN,1002
4,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,2,0,2,0,NaN,NaN,NaN,1002

In [4]:
matches_info.head(5)

,city,event,stage,dates,match_type,match_type_number,winner,winner_by,overs,season,team_type,team1,team2,toss_winner,toss_decision,venue
0,NaN,Pakistan v West Indies T20I Series,NaN,2016-09-23,T20,568,Pakistan,{'wickets': 9},20,2016/17,international,Pakistan,West Indies,Pakistan,field,Dubai International Cricket Stadium
1,NaN,Pakistan v West Indies T20I Series,NaN,2016-09-24,T20,569,Pakistan,{'runs': 16},20,2016/17,international,Pakistan,West Indies,West Indies,field,Dubai International Cricket Stadium
2,Abu Dhabi,Pakistan v West Indies T20I Series,NaN,2016-09-27,T20,570,Pakistan,{'wickets': 8},20,2016/17,international,Pakistan,West Indies,Pakistan,field,Sheikh Zayed Stadium
3,Barbados,Pakistan in West Indies T20I Series,NaN,2017-03-26,T20,602,Pakistan,{'wickets': 6},20,2017,international,West Indies,Pakistan,Pakistan,field,"Kensington Oval, Bridgetown"
4,Trinidad,Pakistan in West Indies T20I Series,NaN,2017-03-30,T20,603,Pakistan,{'runs': 3},20,2017,international,West Indies,Pakistan,West Indies,field,"Queen's Park Oval, Port of Spain"

In [5]:
players_name.head(5)

,name,team,match_type_number,match_type,venue
0,Sharjeel Khan,Pakistan,568,T20,Dubai International Cricket Stadium
1,Khalid Latif,Pakistan,568,T20,Dubai International Cricket Stadium
2,Babar Azam,Pakistan,568,T20,Dubai International Cricket Stadium
3,Shoaib Malik,Pakistan,568,T20,Dubai International Cricket Stadium
4,Umar Akmal,Pakistan,568,T20,Dubai International Cricket Stadium

In [6]:
#file cleaning process
players_name['name'] = players_name['name'].astype("category")
players_name['team'] = players_name['team'].astype("category")
players_name['match_type_number'] = players_name['match_type_number'].astype("int16")
players_name['match_type'] = players_name['match_type'].astype("category")
players_name['venue'] = players_name['venue'].astype("category")

In [7]:
players_name.to_csv("T20_Players_Name.csv",index=False)

**MATHE INFO CSV CLEANING**

In [8]:
matches_info.head()

,city,event,stage,dates,match_type,match_type_number,winner,winner_by,overs,season,team_type,team1,team2,toss_winner,toss_decision,venue
0,NaN,Pakistan v West Indies T20I Series,NaN,2016-09-23,T20,568,Pakistan,{'wickets': 9},20,2016/17,international,Pakistan,West Indies,Pakistan,field,Dubai International Cricket Stadium
1,NaN,Pakistan v West Indies T20I Series,NaN,2016-09-24,T20,569,Pakistan,{'runs': 16},20,2016/17,international,Pakistan,West Indies,West Indies,field,Dubai International Cricket Stadium
2,Abu Dhabi,Pakistan v West Indies T20I Series,NaN,2016-09-27,T20,570,Pakistan,{'wickets': 8},20,2016/17,international,Pakistan,West Indies,Pakistan,field,Sheikh Zayed Stadium
3,Barbados,Pakistan in West Indies T20I Series,NaN,2017-03-26,T20,602,Pakistan,{'wickets': 6},20,2017,international,West Indies,Pakistan,Pakistan,field,"Kensington Oval, Bridgetown"
4,Trinidad,Pakistan in West Indies T20I Series,NaN,2017-03-30,T20,603,Pakistan,{'runs': 3},20,2017,international,West Indies,Pakistan,West Indies,field,"Queen's Park Oval, Port of Spain"

In [9]:
matches_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               200 non-null    object
 1   event              232 non-null    object
 2   stage              19 non-null     object
 3   dates              243 non-null    object
 4   match_type         243 non-null    object
 5   match_type_number  243 non-null    int64
 6   winner             243 non-null    object
 7   winner_by          243 non-null    object
 8   overs              243 non-null    int64
 9   season             243 non-null    object
 10  team_type          243 non-null    object
 11  team1              243 non-null    object
 12  team2              243 non-null    object
 13  toss_winner        243 non-null    object
 14  toss_decision      243 non-null    object
 15  venue              243 non-null    object
dtypes: int64(2), object(14)
memory usage: 30.5+ KB

In [10]:
#Converting to suitable types for memory efficiency
matches_info['match_type_number'] = matches_info['match_type_number'].astype('int16')
matches_info['overs'] = matches_info['overs'].astype('int16')
matches_info['city'] = matches_info['city'].astype('category')
matches_info['event'] = matches_info['event'].astype('category')
matches_info['stage'] = matches_info['stage'].astype('category')
matches_info['dates'] = matches_info['dates'].astype('category')
matches_info['match_type'] = matches_info['match_type'].astype('category')
matches_info['winner'] = matches_info['winner'].astype('category')
matches_info['season'] = matches_info['season'].astype('category')
matches_info['team_type'] = matches_info['team_type'].astype('category')
matches_info['team1'] = matches_info['team1'].astype('category')
matches_info['team2'] = matches_info['team2'].astype('category')
matches_info['toss_winner'] = matches_info['toss_winner'].astype('category')
matches_info['toss_decision'] = matches_info['toss_decision'].astype('category')
matches_info['venue'] = matches_info['venue'].astype('category')

In [11]:
matches_info.to_csv("T20_Matches_Info.csv")

In [12]:
T20_Matches.head()

,Team,Over,Batter,Bowler,Non_Striker,Runs_Batter,Runs_Extras,Runs_Total,Wickets,fielder_name,kind,player_out,match_type_number
0,Pakistan,0,Babar Azam,MA Starc,Fakhar Zaman,0,0,0,0,NaN,NaN,NaN,1002
1,Pakistan,0,Babar Azam,MA Starc,Fakhar Zaman,1,0,1,0,NaN,NaN,NaN,1002
2,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,0,0,0,0,NaN,NaN,NaN,1002
3,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,0,0,0,0,NaN,NaN,NaN,1002
4,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,2,0,2,0,NaN,NaN,NaN,1002

In [13]:
T20_Matches['Over'] = T20_Matches['Over'].astype('int16')
T20_Matches['Runs_Batter'] = T20_Matches['Runs_Batter'].astype('int16')
T20_Matches['Runs_Extras'] = T20_Matches['Runs_Extras'].astype('int16')
T20_Matches['Runs_Total'] = T20_Matches['Runs_Total'].astype('int16')
T20_Matches['Wickets'] = T20_Matches['Wickets'].astype('int16')
T20_Matches['Team'] = T20_Matches['Team'].astype('category')
T20_Matches['Batter'] = T20_Matches['Batter'].astype('category')
T20_Matches['Bowler'] = T20_Matches['Bowler'].astype('category')
T20_Matches['Non_Striker'] = T20_Matches['Non_Striker'].astype('category')
T20_Matches['fielder_name'] = T20_Matches['fielder_name'].fillna('Unknown')
T20_Matches['fielder_name'] = T20_Matches['fielder_name'].astype('category')
T20_Matches['kind'] = T20_Matches['kind'].fillna('Not Out')
T20_Matches['kind'] = T20_Matches['kind'].astype('category')
T20_Matches['player_out'] = T20_Matches['player_out'].fillna('Not Out')
T20_Matches['player_out'] = T20_Matches['player_out'].astype('category')
T20_Matches['match_type_number'] = pd.to_numeric(T20_Matches['match_type_number'], errors='coerce')
T20_Matches['match_type_number'] = T20_Matches['match_type_number'] .fillna(T20_Matches['match_type_number'].mean())

In [14]:
T20_Matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56234 entries, 0 to 56233
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               56234 non-null  category
 1   Over               56234 non-null  int16
 2   Batter             56234 non-null  category
 3   Bowler             56234 non-null  category
 4   Non_Striker        56234 non-null  category
 5   Runs_Batter        56234 non-null  int16
 6   Runs_Extras        56234 non-null  int16
 7   Runs_Total         56234 non-null  int16
 8   Wickets            56234 non-null  int16
 9   fielder_name       56234 non-null  category
 10  kind               56234 non-null  category
 11  player_out         56234 non-null  category
 12  match_type_number  56234 non-null  int64
dtypes: category(7), int16(5), int64(1)
memory usage: 1.7 MB

In [ ]:
T20_Matches.to_csv("Pakistan_T20_Players_Innings_Infor.csv",index=False)

In [17]:
T20_Matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56234 entries, 0 to 56233
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               56234 non-null  category
 1   Over               56234 non-null  int16
 2   Batter             56234 non-null  category
 3   Bowler             56234 non-null  category
 4   Non_Striker        56234 non-null  category
 5   Runs_Batter        56234 non-null  int16
 6   Runs_Extras        56234 non-null  int16
 7   Runs_Total         56234 non-null  int16
 8   Wickets            56234 non-null  int16
 9   fielder_name       56234 non-null  category
 10  kind               56234 non-null  category
 11  player_out         56234 non-null  category
 12  match_type_number  56234 non-null  int64
dtypes: category(7), int16(5), int64(1)
memory usage: 1.7 MB